<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>OdinBook</title>
  </head>
  <body>
    <h1>update your about section</h1>
    <form action="" method="post">
      <textarea name="user_about" id="user_about" cols="80" rows="10" required>
<%=user.about%></textarea
      >
      <button type="submit">update about</button>
    </form>
  </body>
</html>
