<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>OdinBook</title>
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <h1>welcome to OdinBooc, stranger!</h1>
    <a href="/auth/facebook"
      ><button>signup with facebook</button></a
    >
  </body>
</html>
