<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>OdinBook</title>
  </head>
  <body>
    <h1>hello stranger!</h1>
    <a href="/auth/facebook">sign in with facebook to continue</a>
  </body>
</html>
