body {
  margin: 0;
  background-color: #e4e6eb;
}
h1 {
  padding-top: 20px;
  text-align: center;
  color: rgb(94, 93, 93);
}

ul {
  background-color: #1877f2;
  margin: 0;
  width: 99vw;
  height: 10vh;
  display: flex;
  justify-content: stretch;
  list-style-type: none;
  padding-left: 0;
}
li {
  width: 33%;
  padding: 20px;
  text-align: center;
}
li:hover {
  background-color: #0c5ac0;
}
li > a {
  color: white;
  font-size: 30px;
  font-weight: bold;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
div.postContainer,
form {
  display: flex;
  flex-direction: column;
  padding: 5%;
  background-color: white;
  border-radius: 20px;
  margin-right: 5vw;
  margin-left: 5vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
textarea {
  background-color: #e4e6eb;
  border-radius: 10px;
  font-size: 25px;
  height: 100px;
  transition: height 0.5s;
}
textarea:focus {
  height: 200px;
}

button {
  background-color: #1877f2;
  color: white;
  font-size: 30px;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 5px;
}
button:hover {
  background-color: #0c5ac0;
}
/* div.postContainer {
  display: flex;
  flex-direction: column;
} */
button.postBtn {
  background-color: white;
  color: black;
}

button.postBtn:hover {
  background-color: aliceblue;
}
